/* ===== CSS RESET & BASE ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: 100%;
}

/* ===== TYPOGRAPHY ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600;
  color: #000;
  font-family: "DM Sans", sans-serif;
}

p {
  margin-bottom: 1rem;
  font-family: "DM Sans", sans-serif;
}
span {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  font-family: "DM Sans", sans-serif;
}

/* ===== UTILITIES ===== */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  transition: all 0.3s ease;
}
.btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 12px;
  background-color: #5801db;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.btn:hover {
  color: #fff;
}

.btn:hover::before {
  width: 100%;
}
